body, html, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.mapboxgl-canary { display: none; }

.mapboxgl-popup-content {
  margin-bottom: 0;
}

.MuiPaper-root.MuiDrawer-paperAnchorDockedRight {
  border: none;
  background-color: transparent;
}